<p id="notice"><%= notice %></p>

<h1>User Personals</h1>

<table>
  <thead>
    <tr>
      <th>P one</th>
      <th>P two</th>
      <th>P three</th>
      <th>P four</th>
      <th>P five</th>
      <th>P six</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_personals.each do |user_personal| %>
      <tr>
        <td><%= user_personal.p_one %></td>
        <td><%= user_personal.p_two %></td>
        <td><%= user_personal.p_three %></td>
        <td><%= user_personal.p_four %></td>
        <td><%= user_personal.p_five %></td>
        <td><%= user_personal.p_six %></td>
        <td><%= user_personal.user %></td>
        <td><%= link_to 'Show', user_personal %></td>
        <td><%= link_to 'Edit', edit_user_personal_path(user_personal) %></td>
        <td><%= link_to 'Destroy', user_personal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Personal', new_user_personal_path %>
