<p id="notice"><%= notice %></p>

<p>
  <strong>P one:</strong>
  <%= @user_personal.p_one %>
</p>

<p>
  <strong>P two:</strong>
  <%= @user_personal.p_two %>
</p>

<p>
  <strong>P three:</strong>
  <%= @user_personal.p_three %>
</p>

<p>
  <strong>P four:</strong>
  <%= @user_personal.p_four %>
</p>

<p>
  <strong>P five:</strong>
  <%= @user_personal.p_five %>
</p>

<p>
  <strong>P six:</strong>
  <%= @user_personal.p_six %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_personal.user %>
</p>

<%= link_to 'Edit', edit_user_personal_path(@user_personal) %> |
<%= link_to 'Back', user_personals_path %>
