<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4><%= form.label :q_one, "現在身体的に疲れを感じてますか？" %></h4>
    <br>
    <h5><%= form.radio_button :q_one, 1 %> &nbsp; 1：疲れを全く感じていない</h5><br>
    <h5><%= form.radio_button :q_one, 2 %> &nbsp; 2：疲れを感じていない</h5><br>
    <h5><%= form.radio_button :q_one, 3 %> &nbsp; 3：どちらかといえば疲れを感じていない</h5><br>
    <h5><%= form.radio_button :q_one, 4 %> &nbsp; 4：どちらかといえば疲れを感じている</h5><br>
    <h5><%= form.radio_button :q_one, 5 %> &nbsp; 5：疲れを感じている</h5><br>
    <h5><%= form.radio_button :q_one, 6 %> &nbsp; 6：疲れをとても感じている</h5><br>
  </div>
  <hr>
  <div class="field">
    <h4><%= form.label :q_two, "現在精神的に疲れを感じてますか？" %></h4>
    <br>
    <h5><%= form.radio_button :q_two, 1 %> &nbsp; 1：疲れを全く感じていない</h5><br>
    <h5><%= form.radio_button :q_two, 2 %> &nbsp; 2：疲れを感じていない</h5><br>
    <h5><%= form.radio_button :q_two, 3 %> &nbsp; 3：どちらかといえば疲れを感じていない</h5><br>
    <h5><%= form.radio_button :q_two, 4 %> &nbsp; 4：どちらかといえば疲れを感じている</h5><br>
    <h5><%= form.radio_button :q_two, 5 %> &nbsp; 5：疲れを感じている</h5><br>
    <h5><%= form.radio_button :q_two, 6 %> &nbsp; 6：疲れをとても感じている</h5><br>
  </div>
  <hr>
  <div class="field">
    <br>
    <h4><%= form.label :q_three, "明後日に予定（会社や大学などの外せない予定）はありますか？" %></h4>
    <h5><%= form.radio_button :q_three, 1 %> &nbsp; 1：1日中空いている（100％）</h5><br>
    <h5><%= form.radio_button :q_three, 2 %> &nbsp; 2：だいたい空いている（75％）</h5><br>
    <h5><%= form.radio_button :q_three, 3 %> &nbsp; 3：午後から予定が空いる（50％）</h5><br>
    <h5><%= form.radio_button :q_three, 4 %> &nbsp; 4：だいたい予定が詰まっている（25％）</h5><br>
    <h5><%= form.radio_button :q_three, 5 %> &nbsp; 5：朝から外せない予定がある（0％）</h5><br>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "登録", { class: 'btn btn-primary w-25' }%>
  </div>
<% end %>
<%= link_to "戻る", :back, { class: 'btn btn-primary w-25' }  %>
</div>
