<%= form_with(model: user_detail, local: true) do |form| %>
  <% if user_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_detail.errors.count, "error") %> prohibited this user_detail from being saved:</h2>

      <ul>
        <% user_detail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4><%= form.label :d_one, "普段あそびを行うときは1日でお金を平均いくらほど使われますか？" %></h4>
    <br>
    <h5><%= form.radio_button :d_one, 1 %> &nbsp; 1：〜3000円</h5><br>
    <h5><%= form.radio_button :d_one, 2 %> &nbsp; 2：3000円〜6000円</h5><br>
    <h5><%= form.radio_button :d_one, 3 %> &nbsp; 3：6000円〜9000円</h5><br>
    <h5><%= form.radio_button :d_one, 4 %> &nbsp; 4：9000円〜12000円</h5><br>
    <h5><%= form.radio_button :d_one, 5 %> &nbsp; 5：12000円〜15000円</h5><br>
    <h5><%= form.radio_button :d_one, 6 %> &nbsp; 6：15000円〜</h5><br>
  </div>
<hr>
  <div class="field">
    <h4><%= form.label :d_two, "普段あそびを行うときは自然に囲まれた田舎で遊びたい気分の時が多いですか？それとも街や駅前に出たい気分の時が多いですか？" %></h4>
    <br>
    <h5> <%= form.radio_button :d_two, 1 %> &nbsp; 1：絶対に自然に囲まれた中で遊びたい（100%）</h5><br>
    <h5> <%= form.radio_button :d_two, 2 %> &nbsp; 2：自然に囲まれた中で遊びたい（80%）</h5><br>
    <h5> <%= form.radio_button :d_two, 3 %> &nbsp; 3：どちらかといえば自然に囲まれた中で遊びたい（60%）</h5><br>
    <h5> <%= form.radio_button :d_two, 4 %> &nbsp; 4：どちらかといえば街や駅前に出て遊びたい（60%）</h5><br>
    <h5> <%= form.radio_button :d_two, 5 %> &nbsp; 5：街や駅前に出て遊びたい（80%）</h5><br>
    <h5> <%= form.radio_button :d_two, 6 %> &nbsp; 6：絶対に街や駅前に出て遊びたい（100%）</h5><br>
  </div>
  <hr>
  <div class="field">
    <h4><%= form.label :d_three, "普段あそびを行うときはエキサイティングな遊びをしたい気分の時が多いですか？それともゆったりのんびり遊びたい気分の時が多いですか？" %></h4>
    <br>
    <h5><%= form.radio_button :d_three, 1 %> &nbsp; 1：絶対にゆったりのんびり過ごしたい（100%）</h5><br>
    <h5><%= form.radio_button :d_three, 2 %> &nbsp; 2：ゆったりのんびり過ごしたい（80%）</h5><br>
    <h5><%= form.radio_button :d_three, 3 %> &nbsp; 3：どちらかというとゆったりのんびり過ごしたい（60%）</h5><br>
    <h5><%= form.radio_button :d_three, 4 %> &nbsp; 4：どちらかというとエキサイティングな遊びをしたい（60%）</h5><br>
    <h5><%= form.radio_button :d_three, 5 %> &nbsp; 5：エキサイティングな遊びをしたい（80%）</h5><br>
    <h5><%= form.radio_button :d_three, 6 %> &nbsp; 6：絶対にエキサイティングな遊びをしたい（100%）</h5><br>
  </div>
<hr>
  <div class="field">
    <h4><%= form.label :d_four, "普段あそびを行うときは遠出したい気分の時が多いですか？それとも近場で遊びたい気分の時が多いですか？" %></h4>
    <br>
    <h5><%= form.radio_button :d_four, 1 %> &nbsp; 1：絶対に近場が良い（100%）</h5><br>
    <h5><%= form.radio_button :d_four, 2 %> &nbsp; 2：近場が良い（80%）</h5><br>
    <h5><%= form.radio_button :d_four, 3 %> &nbsp; 3：どちらかというと近場が良い（60%）</h5><br>
    <h5><%= form.radio_button :d_four, 4 %> &nbsp; 4：どちらかというと遠出したい（60%）</h5><br>
    <h5><%= form.radio_button :d_four, 5 %> &nbsp; 5：遠出したい（80%）</h5><br>
    <h5><%= form.radio_button :d_four, 6 %> &nbsp; 6：絶対に遠出したい（100%）</h5><br>
  </div>
<hr>
  <div class="field">
    <h4><%= form.label :d_five, "普段あそびを行うときは場所を転々としたいことが多いですか？それとも1カ所にとどまりたい気分の時が多いですか？" %></h4>
    <br>
    <h5><%= form.radio_button :d_five, 1 %> &nbsp; 1：絶対に1カ所にとどまりたい（100%）</h5><br>
    <h5><%= form.radio_button :d_five, 2 %> &nbsp; 2：1カ所にどとまりたい（80%）</h5><br>
    <h5><%= form.radio_button :d_five, 3 %> &nbsp; 3：どちらかというと1カ所にとどまりたい（60%）</h5><br>
    <h5><%= form.radio_button :d_five, 4 %> &nbsp; 4：どちらかというと色々な場所を巡りたい（60%）</h5><br>
    <h5><%= form.radio_button :d_five, 5 %> &nbsp; 5：色々な場所を巡りたい（80%）</h5><br>
    <h5><%= form.radio_button :d_five, 6 %> &nbsp; 6：絶対にいろいろな場所を巡りたい（100%）</h5><br>
  </div>
  <hr>
  <div class="field">
    <h4><%= form.label :d_six, "普段あそびを行うときは室内で遊びたい時が多いですか？それとも室外で遊びたい時が多いですか？" %></h4>
    <br>
    <h5><%= form.radio_button :d_six, 1 %> &nbsp; 1：絶対に室内（100%）</h5><br>
    <h5><%= form.radio_button :d_six, 2 %> &nbsp; 2：室内（80%）</h5><br>
    <h5><%= form.radio_button :d_six, 3 %> &nbsp; 3：どちらかというと室内（60%）</h5><br>
    <h5><%= form.radio_button :d_six, 4 %> &nbsp; 4：どちらかというと室外（60%）</h5><br>
    <h5><%= form.radio_button :d_six, 5 %> &nbsp; 5：室外（80%）</h5><br>
    <h5><%= form.radio_button :d_six, 6 %> &nbsp; 6：絶対に室外（100%）</h5><br>
  </div>
  <hr>
  <div class="field">
    <h4><%= form.label :d_seven, "普段あそびを行うときは何人の友達と遊びに行くことが多いですか？" %></h4>
    <br>
    <h5><%= form.radio_button :d_seven, 1 %> &nbsp; 1：1人（自分だけ）</h5><br>
    <h5><%= form.radio_button :d_seven, 2 %> &nbsp; 2：2人</h5><br>
    <h5><%= form.radio_button :d_seven, 3 %> &nbsp; 3：3人</h5><br>
    <h5><%= form.radio_button :d_seven, 4 %> &nbsp; 4：4人</h5><br>
    <h5><%= form.radio_button :d_seven, 5 %> &nbsp; 5：5人</h5><br>
    <h5><%= form.radio_button :d_seven, 6 %> &nbsp; 6：6人以上</h5><br>
  </div>
  <hr>
  <div class="field">
    <h4><%= form.label :d_eight, "遊びを行うときは人とどのくらいの会話をしますか？" %></h4>
    <br>
    <h5><%= form.radio_button :d_eight, 1 %> &nbsp; 1：会話をそんなにしない（0%）</h5><br>
    <h5><%= form.radio_button :d_eight, 2 %> &nbsp; 2：どちらかといえば会話をしない（20%）</h5><br>
    <h5><%= form.radio_button :d_eight, 3 %> &nbsp; 3：少しだけ会話をする（40%）</h5><br>
    <h5><%= form.radio_button :d_eight, 4 %> &nbsp; 4：会話をする（60%）</h5><br>
    <h5><%= form.radio_button :d_eight, 5 %> &nbsp; 5：たくさん会話をする（80%）</h5><br>
    <h5><%= form.radio_button :d_eight, 6 %> &nbsp; 6：会話がすることがメイン（100%）</h5><br>
  </div>

  <div class="actions">
    <%= form.submit "登録", { class: 'btn btn-primary w-25' }%>
  </div>
<% end %>
<%= link_to "戻る", :back, { class: 'btn btn-primary w-25' }  %>
  </div>
