<p id="notice"><%= notice %></p>

<p>
  <strong>D one:</strong>
  <%= @user_detail.d_one %>
</p>

<p>
  <strong>D two:</strong>
  <%= @user_detail.d_two %>
</p>

<p>
  <strong>D three:</strong>
  <%= @user_detail.d_three %>
</p>

<p>
  <strong>D four:</strong>
  <%= @user_detail.d_four %>
</p>

<p>
  <strong>D five:</strong>
  <%= @user_detail.d_five %>
</p>

<p>
  <strong>D six:</strong>
  <%= @user_detail.d_six %>
</p>

<p>
  <strong>D seven:</strong>
  <%= @user_detail.d_seven %>
</p>

<p>
  <strong>D eight:</strong>
  <%= @user_detail.d_eight %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_detail.user %>
</p>

<%= link_to 'Edit', edit_user_detail_path(@user_detail) %> |
<%= link_to 'Back', user_details_path %>
