<p id="notice"><%= notice %></p>

<h1>Recommend Users</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommend_users.each do |recommend_user| %>
      <tr>
        <td><%= recommend_user.user_id %></td>
        <td><%= link_to 'Show', recommend_user %></td>
        <td><%= link_to 'Edit', edit_recommend_user_path(recommend_user) %></td>
        <td><%= link_to 'Destroy', recommend_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recommend User', new_recommend_user_path %>
