<h1>Hello <%= current_user.name %> </h1>
<p>年齢：<%= current_user.age %></p>
<p>性別：<%= current_user.sex %></p>
<br> 
<h2><%= current_user.name %>の遊びの予定</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>あそび</th>
      <th>日付</th>
      <th>開始</th>
      <th>終了</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.hang_outs.each do |hang_out| %>
      <tr>
        <td><%= hang_out.name %></td>
        <td><%= hang_out.date %></td>
        <td><%= hang_out.start_time %></td>
        <td><%= hang_out.end_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "あそびを追加する", new_hang_out_path %>
<br>
<br>
<br>
<h2>フォロー</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
      <th>性別</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.followings.each do |following| %>
      <tr>
        <td><%= following.name %></td>
        <td><%= following.age %></td>
        <td><%= following.sex %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>
<h2>フォロワー</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
      <th>性別</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.followers.each do |follower| %>
      <tr>
        <td><%= follower.name %></td>
        <td><%= follower.age %></td>
        <td><%= follower.sex %></td>
      </tr>
    <% end %>
  </tbody>
</table>
