<div class=pad70>
<h1>ようこそ<%= current_user.name %>さん</h1>
<br>
<%= link_to "あそびをレコメンドする", new_question_path, { class: 'btn btn-outline-primary btn-lg btn-block' } %>
<br>
<h2>プロフィール</h2>
<table class="table table-striped">
  <tr><th>名前</th><td><%= current_user.name %></td></tr>
  <tr><th>年齢</th><td><%= current_user.age %></td></tr>
  <tr><th>性別</th><td><%= current_user.sex %></td></tr>
  <tr onclick='window.location="<%= '/user/' + current_user.id.to_s + '/follow' %>"' role="link"><th>フォロー</th><td><%= current_user.followings.count %></td></tr>
  <tr onclick='window.location="<%= '/user/' + current_user.id.to_s + '/follower' %>"' role="link"><th>フォロワー</th><td><%= current_user.followers.count %></td></tr>
</table>
<%= link_to "プロフィールを編集", edit_user_registration_path, { class: 'btn btn-primary w-25' }  %>
<br>
<br>
<h2><%= current_user.name %>の遊びの予定</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>あそび</th>
      <th>日付</th>
      <th>開始</th>
      <th>終了</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.hang_outs.each do |hang_out| %>
      <tr onclick='window.location="<%= '/hang_outs/' + hang_out.id.to_s %>"' role="link">
        <td><%= hang_out.name %></td>
        <td><%= hang_out.date.strftime("%Y年%m月%d日") %></td>
        <td><%= hang_out.start_time.strftime("%-H時%-M分") %></td>
        <td><%= hang_out.end_time.strftime("%-H時%-M分") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "あそびを追加する", new_hang_out_path, { class: 'btn btn-outline-primary w-25' }  %>
<br>
<br>
<br>
<h2><%= current_user.name %>のいいねしたあそび</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>あそび</th>
      <th>日付</th>
      <th>開始</th>
      <th>終了</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.likes.each do |like| %>
      <tr onclick='window.location="<%= '/hang_outs/' + like.hang_out.id.to_s %>"' role="link">
        <td><%= like.hang_out.name %></td>
        <td><%= like.hang_out.date.strftime("%Y年%m月%d日")  %></td>
        <td><%= like.hang_out.start_time.strftime("%-H時%-M分") %></td>
        <td><%= like.hang_out.end_time.strftime("%-H時%-M分") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
