  <div class="center">
    <%= form_with(model: hang_out, local: true) do |form| %>
      <% if hang_out.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(hang_out.errors.count, "error") %> prohibited this hang_out from being saved:</h2>

          <ul>
            <% hang_out.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name, "名前" %>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <%= form.text_field :name, { class: 'form-control', required: true } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :date, "いつ？" %>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <%= form.date_select :date, {class: "form-control"} %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :start_time, "何時から？" %>
        <div class="row justify-content-center">
          <div class="col-md-6">
        <%= form.time_select :start_time, { class: 'form-control', required: true } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :end_time, "何時まで？" %>
        <div class="row justify-content-center">
          <div class="col-md-6">
        <%= form.time_select :end_time, { class: 'form-control', required: true }  %>
          </div>
          </div>
      </div>

      <div class="actions">
        <%= form.submit "登録", { class: 'btn btn-primary w-25' } %>
      </div>
    <% end %>
    <%= link_to "戻る", :back, { class: 'btn btn-primary w-25' }  %>
  </div>
