<table class="table table-striped center">
  <thead>
    <tr>
      <th></th>
      <th>ユーザー</th>
      <th>あそび</th>
      <th>日付</th>
      <th>時間</th>
      <th>参加人数</th>
      <th>参加上限人数</th>
      <th>コメント数</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% hang_outs.each do |hang_out| %>
      <tr onclick='window.location="<%= '/hang_outs/' + hang_out.id.to_s %>"' role="link">

        <% if hang_out.upper_member.nil? %>
          <% hang_out.upper_member = 1 %>
          <% hang_out.save %>
        <% elsif hang_out.label.nil? %>
          <% hang_out.label = 0 %>
          <% hang_out.save %>
        <% else %>
          <% if hang_out.date < Date.today %>
            <% hang_out.label = 2 %>
            <% hang_out.save %>
          <% elsif (hang_out.likes.count >= hang_out.upper_member) then %>
            <% hang_out.label = 1 %>
            <% hang_out.save %>
          <% elsif (hang_out.likes.count < hang_out.upper_member) then %>
            <% hang_out.label = 0 %>
            <% hang_out.save %>
          <% end %>
        <% end %>
        <% if hang_out.label == '募集中' %>
          <td><span class="badge badge-primary">募集中</span></td>
        <% elsif hang_out.label == '募集締め切り' %>
          <td><span class="badge badge-success">募集締め切り</span></td>
        <% elsif hang_out.label == '終了' %>
          <td><span class="badge badge-danger">終了</span></td>
        <% end %>
        <td><%= hang_out.user.name %></td>
        <td><%= hang_out.name %></td>
        <td><%= hang_out.date.strftime("%Y年%m月%d日")%></td>
        <td><%= hang_out.start_time.strftime("%-H時%-M分") %> ~ <%= hang_out.end_time.strftime("%-H時%-M分") %></td>
        <td><%= hang_out.likes.count %></td>
        <td><%= hang_out.upper_member %></td>
        <td><%= hang_out.comments.count %></td>
    <% if user_signed_in? %>
      <% if current_user.id == hang_out.user.id %>
        <td></td>
      <% else %>
        <% if hang_out.label == '募集中' %>
          <% if current_user.already_liked?(hang_out) %>
            <td><%= button_to '参加を取り消す', hang_out_like_path(hang_out, current_user), { method: :delete, class: 'btn btn-primary btn-sm' } %></td>
          <% else %>
            <td><%= button_to '参加', hang_out_likes_path(hang_out), { class: 'btn btn-outline-primary btn-sm' } %></td>
          <% end %>
        <% elsif hang_out.label == '募集締め切り' %>
          <% if current_user.already_liked?(hang_out) %>
            <td><%= button_to '参加を取り消す', hang_out_like_path(hang_out, current_user), { method: :delete, class: 'btn btn-primary btn-sm' } %></td>
          <% else %>
            <td></td>
          <% end %>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    <% else %>
      <td></td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @hang_outs %>
