<div class=pad70>
  <h1 style="text-align:center">みんなのあそび</h1>
  <hr>
  <br>
  <div class="row">
  <div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">おすすめ</label>

    <input id="label0" type="radio" name="tab_item">
    <label class="tab_item" for="label0">募集中</label>

    <input id="label1" type="radio" name="tab_item">
    <label class="tab_item" for="label1">募集締め切り</label>

    <input id="label2" type="radio" name="tab_item">
    <label class="tab_item" for="label2">終了</label>

    <div class="tab_content" id="all_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <table class="table table-striped center">
          <thead>
            <tr>
              <th></th>
              <th>おすすめ度</th>
              <th>ユーザー</th>
              <th>あそび</th>
              <th>日付</th>
              <th>時間</th>
              <th>参加人数</th>
              <th>参加上限人数</th>
              <th>コメント数</th>
              <th></th>
            </tr>
          </thead>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u0.hang_outs, hang_out_rank: '★★★★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u1.hang_outs, hang_out_rank: '★★★★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u2.hang_outs, hang_out_rank: '★★★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u3.hang_outs, hang_out_rank: '★★★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u4.hang_outs, hang_out_rank: '★★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u5.hang_outs, hang_out_rank: '★★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u6.hang_outs, hang_out_rank: '★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u7.hang_outs, hang_out_rank: '★★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u8.hang_outs, hang_out_rank: '★' %>
          <%= render 'hang_outs/tablerec', hang_outs: @r_u9.hang_outs, hang_out_rank: '★' %>
        </table>
        <%= paginate @hang_outs %>
        <%= button_to "友達をレコメンドする", "http://localhost:3000/get_current/#{@recommend_user.id}", method: :get, class: 'btn btn-outline-primary w-25'  %>
      </div>
    </div>

    <div class="tab_content" id="label0_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <%= render 'hang_outs/table', hang_outs: @hang_outs_label_0 %>
      </div>
    </div>

    <div class="tab_content" id="label1_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <%= render 'hang_outs/table', hang_outs: @hang_outs_label_1 %>
      </div>
    </div>

    <div class="tab_content" id="label2_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <%= render 'hang_outs/table', hang_outs: @hang_outs_label_2 %>
      </div>
    </div>
  </div>
  </div>
  <br>
  <%= button_to 'あそびをレコメンドする', {controller: 'questions', action: 'new'}, method: :get , class: 'btn btn-primary btn-block' %>
  <br>
      <%= button_to 'あそびを追加する', {controller: 'hang_outs', action: 'new'}, method: :get , class: 'btn btn-primary btn-block' %>
</div>
