<div class=pad70>
  <h1 style="text-align:center">みんなのあそび</h1>
  <hr>
  <br>
  <div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">全て</label>

    <input id="label0" type="radio" name="tab_item">
    <label class="tab_item" for="label0">募集中</label>

    <input id="label1" type="radio" name="tab_item">
    <label class="tab_item" for="label1">募集締め切り</label>

    <input id="label2" type="radio" name="tab_item">
    <label class="tab_item" for="label2">終了</label>

    <div class="tab_content" id="all_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <%= render 'hang_outs/table', hang_outs: @hang_outs %>
      </div>
    </div>

    <div class="tab_content" id="label0_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <%= render 'hang_outs/table', hang_outs: @hang_outs_label_0 %>
      </div>
    </div>

    <div class="tab_content" id="label1_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <%= render 'hang_outs/table', hang_outs: @hang_outs_label_1 %>
      </div>
    </div>

    <div class="tab_content" id="label2_content">
      <div class="tab_content_description">
        <% @hang_outs.reload %>
        <%= render 'hang_outs/table', hang_outs: @hang_outs_label_2 %>
      </div>
    </div>
  </div>
  <br>
  <%= link_to "あそびを追加する", new_hang_out_path, { class: 'btn btn-outline-primary w-25' }  %>
</div>
