<div class="pad70">
<p id="notice"><%= notice %></p>

<h2><%= @hang_out.name %></h2>
<hr>
<h3>
  <%= @hang_out.user.name %>のあそび
</h3>

<br>
<p>
  <strong>日付:</strong>
  <%= @hang_out.date %>
</p>

<p>
  <strong>開始時間:</strong>
  <%= @hang_out.start_time %>
</p>

<p>
  <strong>終了時間:</strong>
  <%= @hang_out.end_time %>
</p>

<br>
<h2>いいねした人</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>年齢</th>
      <th>性別</th>
    </tr>
  </thead>

  <tbody>
    <% @hang_out.liked_users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.sex %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2>コメント一覧</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>コメント</th>
    </tr>
  </thead>

  <tbody>
    <% @hang_out.comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h2>コメントする</h2>
<%= form_with(model: [@hang_out, @comment], method: :post) do |form| %>
  <%= form.text_area :content, :size=>"80"%>
  <%= form.hidden_field :hang_out_id, value: @hang_out.id %>
  <br>
  <%= form.submit "コメント" %>
<% end %>

<br>
<% if current_user.id == @hang_out.user.id %>
<%= link_to '編集', edit_hang_out_path(@hang_out), { class: 'btn btn-primary w-25' } %> 
<% end %>
<%= link_to '戻る', "http://localhost:3000/hang_outs", { class: 'btn btn-primary w-25' } %>
</div>
