<div class="pad70">

  <h2><%= @hang_out.name %></h2>
  <hr>
  <h3>
    <%= link_to "#{@hang_out.user.name}", "http://localhost:3000/users/#{@hang_out.user.id}/show" %>のあそび
  </h3>
  <br>
<table class="table table-striped">
  <tr><th>日付</th><td><%= @hang_out.date.strftime("%Y年%m月%d日") %></td></tr>
  <tr><th>開始予定時刻</th><td><%= @hang_out.start_time.strftime("%-H時%-M分") %></td></tr>
  <tr><th>終了予定時刻</th><td><%= @hang_out.end_time.strftime("%-H時%-M分") %></td></tr>
</table>
  <br>
  <h2>参加者</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名前</th>
        <th>年齢</th>
        <th>性別</th>
      </tr>
    </thead>

    <tbody>
      <% @hang_out.liked_users.each do |user| %>
        <tr onclick='window.location="<%= '/users/' + user.id.to_s + '/show'%>"' role="link">
          <td><%= user.name %></td>
          <td><%= user.age %></td>
          <td><%= user.sex %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <h2>コメント一覧</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>名前</th>
        <th>コメント</th>
      </tr>
    </thead>

    <tbody>
      <% @hang_out.comments.each do |comment| %>
        <tr onclick='window.location="<%= '/users/' + comment.user.id.to_s + '/show' %>"' role="link">
          <td><%= comment.user.name %></td>
          <td><%= comment.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <p>コメントする</p>
  <%= form_with(model: [@hang_out, @comment], method: :post) do |form| %>
    <div class="col-md-6">
      <%= form.text_area :content, :size=>"100x1"%>
      <%= form.hidden_field :hang_out_id, value: @hang_out.id, class: 'form-control' %>
      <%= form.submit "送信", { class: 'btn btn-primary w-25' } %>
    <% end %>
    </div>

    <br>
    <br>
    <%= link_to '戻る', :back, { class: 'btn btn-primary w-25' } %>
    <% if current_user.id == @hang_out.user.id %>
      <%= link_to '編集', edit_hang_out_path(@hang_out), { class: 'btn btn-primary w-25' } %> 
    <% end %>
</div>
